<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ご予約</title>
</head>
<body>

  <header style="text-align:center">
    <div class="TitleArea" style="margin-top:74px"> <img class="TitleIcon" src="./img/icon-shipfront.png"><span class="TitleLabel MoshikomiKbn">申込区分</span><br><label><input id="" type="radio" name="roundtrip_section" value="one_way">片道のみの予約</label><label><input type="radio" name="roundtrip_section" value="round_trip">往復の予約</label> </div>
  </header>
  <section>
    <div class="MainContentArea">
      <div>
        <table class="TblReserve">
          <tbody>
            <tr>
              <th></th>
              <th>行き-往路情報</th>
              <th>帰り-往路情報</th>
            </tr>
            <tr>
              <td>ご乗船年月日</td>
              <td> <input type="date"> </td>
              <td> <input type="date"> </td>
              <tr>
                <td>発地</td>
                <td>
                  <dl>
                    <dd class="select_wrap"> <select name="contact_type" id="first-port">
                                            <option value="0">発地を選択</option>
                                            <% @ports.each do |port| %>
                                              <option value="<%= port.id %>"><%= port.name %></option>
                                            <% end %>
                                        </select> </dd>
                  </dl>
                </td>
                <td>
                  <dl>
                    <dd class="select_wrap"> <select name="contact_type">
                                            <option value="selected disabled">発地を選択</option>
                                            <option value="select1">新潟</option>
                                            <option value="select2">両津</option>
                                            <option value="select3">直江津</option>
                                            <option value="select4">小木</option>
                                        </select> </dd>
                  </dl>
                </td>
              </tr>
              <tr>
                <td>船区分</td>
                <td>
                  <dl>
                    <dd class="select_wrap"> <select name="contact_type" id="first-ship-section">
                                            <option value="0">船を選択</option>
                                            <% Ship.ship_sections.keys.each do |ship_section| %>
                                              <option value="<%= ship_section %>" style="display: none"><%= I18n.t("ships.ship_sctions.#{ship_section}") %></option>
                                            <% end %>
                                        </select> </dd>
                  </dl>
                </td>
                <td>
                  <dl>
                    <dd class="select_wrap"> <select name="contact_type">
                                            <option value="selected disabled">船を選択</option>
                                        </select> </dd>
                  </dl>
                </td>
              </tr>
              <tr>
                <td>乗船時間</td>
                <td>
                  <dl>
                    <dd class="select_wrap"> <select name="contact_type" id="first-time">
                                            <option value="0">乗船時間を選択</option>
                                            <% @time_tables.each do |time_table| %>
                                              <option value="<%= time_table.id %>" data-ship-section="<%= time_table.ship_section %>" data-port-id="<%= time_table.departure_port_id %>" style="display: none">
                                                <%= time_table.converted_info %>
                                              </option>
                                            <% end %>
                                        </select> </dd>
                  </dl>
                </td>
                <td>
                  <dl>
                    <dd class="select_wrap"> <select name="contact_type">
                                            <option value="selected disabled">乗船時間を選択</option>
                                        </select> </dd>
                  </dl>
                </td>
              </tr>
              <tr>
                <td>等級</td>
                <td>
                  <dl>
                    <dd class="select_wrap"> <select name="contact_type" id="first-ship-class">
                                            <option value="0">等級を選択</option>
                                            <% @ship_class.each do |ship_class| %>
                                              <option value="<%= ship_class.id %>" data-ship-section="<%= ship_class.ship_section %>" style="display: none">
                                                <%= ship_class.name %>
                                              </option>
                                            <% end %>
                                        </select> </dd>
                  </dl>
                </td>
                <td>
                  <dl>
                    <dd class="select_wrap"> <select name="contact_type">
                                            <option value="selected disabled">等級を選択</option>
                                        </select> </dd>
                  </dl>
                </td>
              </tr>
              <tr>
                <td>人数</td>
                <td>
                  <dl>
                    <dd>
                      <table>
                        <td>大人</td>
                        <td><input type="text" name="number" class="SmallTextBox ImeNinsu Right">名 </td>
              </tr>
              <tr>
                <td>小児<br><span class="HosokuText">小学生対象</span></td>
                <td><input type="text" name="number" class="SmallTextBox ImeNinsu Right">名</td>
              </tr>
              <td>幼児<br><span class="HosokuText">１歳～６歳の未就学児</span></td>
              <td><input type="text" name="number" class="SmallTextBox ImeNinsu Right">名</td>
            </tr>
            <tr>
              <td>乳児<br><span class="HosokuText">１歳未満</span></td>
              <td><input type="text" name="number" class="SmallTextBox ImeNinsu Right">名</td>
            </tr>
          </tbody>
          </table>
          </dd>
          </dl>
          </td>
          <td>
            <dl>
              <table>
                <td>大人</td>
                <td><input type="text" name="number" class="SmallTextBox ImeNinsu Right">名</td>
                </tr>
                <tr>
                  <td>小児<br><span class="HosokuText">小学生対象</span></td>
                  <td><input type="text" name="number" class="SmallTextBox ImeNinsu Right">名</td>
                </tr>
                <td>幼児<br><span class="HosokuText">１歳～６歳の未就学児</span></td>
                <td><input type="text" name="number" class="SmallTextBox ImeNinsu Right">名</td>
                </tr>
                <tr>
                  <td>乳児<br><span class="HosokuText">１歳未満</span></td>
                  <td><input type="text" name="number" class="SmallTextBox ImeNinsu Right">名</td>
                </tr>
                </tbody>
              </table>
            </dl>
          </td>
          </tr>
          </tbody>
        </table>
        <dl>
          <div>
            <p>内容を確認いただきよろしければ「お客様情報の入力」を選択して下さい。</p> <button>お客様情報の入力</button> </div>
        </dl>
      </div>
    </div>
  </section>
</body>
</html>
<script>
  const firstPort = document.getElementById('first-port')
  const firstShipSection = document.getElementById('first-ship-section')
  const firstTime = document.getElementById('first-time')
  const firstShipClass = document.getElementById('first-ship-class')

  firstPort.addEventListener('change', (event) => {
    changePort()
    changeShipSection()
    changeTime()
  });

  firstShipSection.addEventListener('change', (event) => {
    changeShipSection()
    changeTime()
  });

  firstTime.addEventListener('change', (event) => {
    changeTime()
  });

  function changePort() {
    // 船区分を初期化
    firstShipSection.value = 0
    // 乗船時間を初期化
    firstTime.value = 0
    // 発地が選択済の場合
    if (firstPort.value != 0) {
      // 船区分を選択できるように
      Array.prototype.forEach.call(firstShipSection.children, function(child) {
        child.style.display = 'block'
      })
    } else { // 発地が未選択の場合
      // 船区分を選択できないように
      Array.prototype.forEach.call(firstShipSection.children, function(child) {
        child.style.display = 'none'
      })
    }
    // ただし「船を選択」は常に表示させる
    firstShipSection.children[0].style.display = 'block'
  }

  function changeShipSection() {
    // 乗船時間を初期化
    firstTime.value = 0
    // 船区分が未選択の場合
    if (firstShipSection.value == 0) {
      // 乗船時間の選択肢を出さないように
      Array.prototype.forEach.call(firstTime.children, function(child) {
        child.style.display = 'none'
      })
   } else { // 船区分が選択済の場合
      Array.prototype.forEach.call(firstTime.children, function(child) {
        // 発地と船区分が合致するものを表示、合致しないものを非表示に
        if (child.dataset.portId == firstPort.value && child.dataset.shipSection == firstShipSection.value) {
          child.style.display = 'block'
        } else {
          child.style.display = 'none'
        }
      })
    }
    // ただし「乗船時間を選択」は常に表示させる
    firstTime.children[0].style.display = 'block'
  }

  function changeTime() {
    // 等級を初期化
    firstShipClass.value = 0
    // 乗船時間が未選択の場合
    if (firstTime.value == 0) {
      // 等級の選択肢を出さないように
      Array.prototype.forEach.call(firstShipClass.children, function(child) {
        child.style.display = 'none'
      })
   } else { // 船区分が選択済の場合
      Array.prototype.forEach.call(firstShipClass.children, function(child) {
        // 発地と船区分が合致するものを表示、合致しないものを非表示に
        if (child.dataset.shipSection == firstShipSection.value) {
          child.style.display = 'block'
        } else {
          child.style.display = 'none'
        }
      })
    }
    // ただし「乗船時間を選択」は常に表示させる
    firstShipClass.children[0].style.display = 'block'
  }
</script>